.cv {
    padding: 5%;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    color: black;
}
.telechargement img{
    width: 18px;
}
.tab{
    padding: 5%;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    color: black;
}